---
import Layout from "../layouts/Layout.astro";

import Home from "../icons/Home.astro";
import About from "../icons/About.astro";
import Services from "../icons/Services.astro";
import Works from "../icons/Works.astro";
import Contact from "../icons/Contact.astro";
import Menu from "../icons/Menu.astro";
import Mision from "../icons/Mision.astro";
import Vision from "../icons/Vision.astro";
import Valores from "../icons/Valores.astro";
import Check from "../icons/Check.astro";
import Snow from "../icons/Snow.astro";
import "photoswipe/style.css";
---

<Layout title="VentiFresh F&R">
  <nav class="w-full h-20 bg-transparent fixed top-0 z-10 px-20 py-5">
    <div class="w-full h-full flex items-center justify-between text-white">
      <h1>VentiFresh F&R</h1>

      <ul class="hidden">
        <li>
          <Home />
          <a href="#home">Inicio</a>
        </li>
        <li>
          <About />
          <a href="#about">Nosotros</a>
        </li>
        <li>
          <Services />
          <a href="#services">Servicios</a>
        </li>
        <li>
          <Works />
          <a href="#works">Trabajos</a>
        </li>
        <li>
          <Contact />
          <a href="#contact">Contacto</a>
        </li>
      </ul>

      <figure>
        <Menu />
      </figure>
    </div>
  </nav>

  <header class="w-full h-[90dvh] bg-white">
    <div class="w-full h-full relative">
      <img
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1545649311-24d0ac00ae82?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Imagen de Ventifresh F&R"
      />

      <div class="absolute top-0 left-0 inset-0 bg-black/50 text-white">
        <div class="w-full h-full flex flex-col items-center justify-center">
          <h2>Soluciones efectivas</h2>
          <span>Confia en VentiFresh</span>
        </div>
      </div>
    </div>
  </header>

  <main class="bg-white">
    <section id="about" class="py-20 px-5">
      <div class="max-w-7xl mx-auto">
        <header>
          <h2
            class="text-primary-800 md:text-center font-bold text-4xl md:text-5xl tracking-wide mb-3 md:mb-20"
          >
            Nosotros
          </h2>
        </header>

        <div class="flex flex-col md:flex-row gap-5 lg:gap-10">
          <picture class="md:flex-1">
            <img
              class="w-full h-full object-cover rounded-lg"
              src="https://images.unsplash.com/photo-1482286571573-959937392112?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </picture>

          <div class="md:flex-1 flex flex-col gap-2 lg:gap-4">
            <h3 class="text-xl lg:text-2xl font-semibold text-secundary-900">
              Calidad en cada brisa
            </h3>
            <p
              class="text-paragraph-800 text-base lg:text-lg font-light leading-relaxed text-pretty"
            >
              En VentiFresh, estamos emocionados por comenzar nuestro viaje en
              el mundo de los servicios de instalación y mantenimiento en
              sistemas de aire acondicionado. Aunque somos una empresa recién
              iniciada, nuestra dedicación y compromiso con la excelencia nos
              impulsan hacia el liderazgo en el sector.
            </p>
            <ul class="flex flex-col gap-2 text-base lg:text-lg">
              <li class="flex gap-2">
                <Check class="min-w-7 size-7 text-primary-800" />
                <p class="text-paragraph-900">
                  Ofrecemos servicios con calidad insuperable.
                </p>
              </li>
              <li class="flex gap-2">
                <Check class="min-w-7 size-7 text-primary-800" />
                <p class="text-paragraph-900">
                  Ofrecemos servicios con calidad insuperable.
                </p>
              </li>
              <li class="flex gap-2">
                <Check class="min-w-7 size-7 text-primary-800" />
                <p class="text-paragraph-900">
                  Nuestro equipo destaca por profesionalismo y eficiencia.
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="pt-32">
          <div class="max-w-7xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
              <article
                class="relative bg-primary-50/50 rounded-lg shadow overflow-hidden p-4 flex flex-col gap-2"
              >
                <div
                  class="absolute fill-primary-100/50 opacity-40 -top-20 -right-20 w-full"
                >
                  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M36.5,-56.5C49,-56.1,62,-49.7,68.6,-39.2C75.2,-28.8,75.6,-14.4,77.2,0.9C78.8,16.3,81.7,32.5,73.2,39.8C64.7,47,44.9,45.2,30.8,51C16.7,56.7,8.4,70,-0.3,70.6C-9,71.1,-18,59,-32,53.1C-45.9,47.3,-64.8,47.8,-71.3,40C-77.8,32.2,-71.9,16.1,-66.1,3.4C-60.3,-9.4,-54.5,-18.8,-47.1,-24.9C-39.6,-31.1,-30.5,-34,-22.3,-37C-14.2,-39.9,-7.1,-42.9,2.5,-47.2C12,-51.4,24.1,-57,36.5,-56.5Z"
                      transform="translate(100 100)"></path>
                  </svg>
                </div>
                <Mision
                  class="bg-white/80 text-primary-500 p-1 size-12 rounded-lg"
                />

                <h3
                  class="font-semibold tracking-wide text-primary-800 text-base md:text-lg"
                >
                  Mision
                </h3>
                <p
                  class="text-paragraph-800 leading-relaxed md:text-base text-sm relative"
                >
                  En VentiFresh, nos dedicamos a ofrecer soluciones de
                  climatización excepcionales que crean ambientes confortables y
                  contribuyen al bienestar de la comunidad.
                </p>
              </article>
              <article
                class="relative md:-top-10 bg-primary-50/50 rounded-lg overflow-hidden shadow p-4 flex flex-col gap-2"
              >
                <div class="absolute opacity-40 -top-20 -right-20 w-full">
                  <svg
                    class="fill-primary-100/50"
                    viewBox="0 0 200 200"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27,-44.4C39.1,-39.9,55.8,-40.8,68.3,-34.4C80.9,-27.9,89.3,-13.9,90.3,0.6C91.3,15.1,84.9,30.2,74.7,40.8C64.6,51.4,50.7,57.5,37.6,63.4C24.5,69.2,12.2,74.8,0.9,73.3C-10.4,71.7,-20.8,62.9,-34.2,57.2C-47.5,51.5,-63.8,48.8,-66.8,39.8C-69.8,30.8,-59.5,15.4,-53.6,3.4C-47.7,-8.6,-46.1,-17.2,-43.9,-27.6C-41.8,-38,-38.9,-50.3,-31.5,-57.5C-24.1,-64.8,-12,-67,-2.3,-63.1C7.5,-59.1,15,-49,27,-44.4Z"
                      transform="translate(100 100)"></path>
                  </svg>
                </div>
                <Valores
                  class="bg-white/80 text-primary-500 p-1 size-12 rounded-lg"
                />
                <h3
                  class="font-semibold tracking-wide text-primary-800 text-base md:text-lg"
                >
                  Valores
                </h3>
                <p
                  class="text-paragraph-800 leading-relaxed text-sm md:text-base relative"
                >
                  En VentiFresh, nos destacamos por ofrecer servicios de alta
                  calidad con integridad y profesionalismo. Nos comprometemos a
                  cumplir nuestras promesas, actuando con honestidad y
                  eficiencia en cada proyecto.
                </p>
              </article>
              <article
                class="relative bg-primary-50/50 overflow-hidden rounded-lg shadow p-4 flex flex-col gap-2"
              >
                <div class="absolute opacity-40 -top-20 -right-20 w-full">
                  <svg
                    class="fill-primary-100/50 stroke"
                    viewBox="0 0 200 200"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M39.1,-67.3C52.9,-59.7,68,-53.8,72.5,-42.9C77,-32,70.9,-16,62.7,-4.7C54.6,6.6,44.4,13.2,37,19C29.5,24.8,24.9,29.9,19.2,35.1C13.5,40.3,6.7,45.6,-1.4,48C-9.5,50.4,-19.1,50,-31.1,48.5C-43.2,47,-57.8,44.4,-65.9,36.1C-74.1,27.9,-75.6,13.9,-71.7,2.3C-67.8,-9.4,-58.4,-18.9,-48.8,-24.5C-39.2,-30.1,-29.3,-31.9,-21.1,-42.7C-12.9,-53.5,-6.5,-73.3,3.1,-78.7C12.6,-84,25.3,-74.8,39.1,-67.3Z"
                      transform="translate(100 100)"></path>
                  </svg>
                </div>
                <Vision
                  class="bg-white/80 text-primary-500 p-1 size-12 rounded-lg"
                />
                <h3
                  class="font-semibold tracking-wide text-primary-800 text-base md:text-lg"
                >
                  Vision
                </h3>
                <p
                  class="text-paragraph-800 leading-relaxed text-sm md:text-base relative"
                >
                  Buscamos ser la opción líder en instalación y mantenimiento de
                  aire acondicionado, destacando en excelencia, innovación y
                  satisfacción del cliente al establecer estándares de calidad
                  que superen expectativas de mercado.
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="py-20 px-5 bg-neutral-100">
      <div class="max-w-7xl mx-auto">
        <header>
          <h2
            class="text-primary-800 md:text-center font-bold text-4xl md:text-5xl tracking-wide mb-3"
          >
            Servicios
          </h2>
          <p
            class="text-paragraph-800 max-w-5xl text-center mx-auto text-base lg:text-lg font-light leading-relaxed text-pretty mb-10"
          >
            Descubra nuestra amplia variedad de servicios especializados y
            soluciones personalizadas en VentiFresh. Nos comprometemos a brindar
            opciones completas y excepcionales para su comodidad y bienestar,
            abordando todas sus necesidades de manera integral.
          </p>
        </header>

        <div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            <div class="group">
              <div
                class="flex justify-center h-full rounded-lg overflow-hidden p-5 shadow-lg group-hover:text-primary-500 transition-all duration-1000 ease-in-out relative z-30"
              >
                <div
                  class="absolute -top-0 left-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>
                <div
                  class="absolute -top-0 right-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>

                <div
                  class="relative flex justify-center items-center text-center"
                >
                  <Snow class="min-w-10 size-10" />
                  <strong class="font-normal"
                    >Servicio de mantenimiento de aire acondicionado</strong
                  >
                </div>
              </div>
            </div>
            <div class="group">
              <div
                class="flex justify-center h-full rounded-lg overflow-hidden p-5 shadow-lg group-hover:text-primary-500 transition-all duration-1000 ease-in-out relative z-30"
              >
                <div
                  class="absolute -top-0 left-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>
                <div
                  class="absolute -top-0 right-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>

                <div
                  class="relative flex justify-center items-center text-center"
                >
                  <Snow class="min-w-10 size-10" />
                  <strong class="font-normal"
                    >Servicio de reparación y instalación de aire acondicionado</strong
                  >
                </div>
              </div>
            </div>
            <div class="group">
              <div
                class="flex justify-center h-full rounded-lg overflow-hidden p-5 shadow-lg group-hover:text-primary-500 transition-all duration-1000 ease-in-out relative z-30"
              >
                <div
                  class="absolute -top-0 left-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>
                <div
                  class="absolute -top-0 right-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>

                <div
                  class="relative flex justify-center items-center text-center"
                >
                  <Snow class="min-w-10 size-10" />
                  <strong class="font-normal"
                    >Servicio de mantenimiento a tableros eléctricos</strong
                  >
                </div>
              </div>
            </div>
            <div class="group">
              <div
                class="flex justify-center h-full rounded-lg overflow-hidden p-5 shadow-lg group-hover:text-primary-500 transition-all duration-1000 ease-in-out relative z-30"
              >
                <div
                  class="absolute -top-0 left-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>
                <div
                  class="absolute -top-0 right-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>

                <div
                  class="relative flex justify-center items-center text-center"
                >
                  <Snow class="min-w-10 size-10" />
                  <strong class="font-normal"
                    >Servicio de mantenimiento e instalación de
                    ventilación mecánica</strong
                  >
                </div>
              </div>
            </div>
            <div class="group">
              <div
                class="flex h-full justify-center rounded-lg overflow-hidden p-5 shadow-lg group-hover:text-primary-500 transition-all duration-1000 ease-in-out relative z-30"
              >
                <div
                  class="absolute -top-0 left-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>
                <div
                  class="absolute -top-0 right-0 w-5 h-0.5 group-hover:h-full group-hover:w-1/2 bg-primary-500/20 z-10 transition-all duration-700 ease-in-out"
                >
                </div>

                <div
                  class="relative flex justify-center items-center text-center"
                >
                  <Snow class="min-w-10 size-10" />
                  <strong class="font-normal"
                    >Servicio de mantenimiento y reparación de
                    refrigeracion comercial</strong
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-32">
          <div class="flex flex-col md:flex-row-reverse gap-5 lg:gap-10">
            <picture class="md:flex-1 h-[400px] relative">
              <img
                class="absolute top-0 z-10 rounded-lg left-0 w-4/5 h-3/5 md:w-2/3 md:h-2/3 object-cover"
                src="https://images.unsplash.com/photo-1561343228-e6a5c693d352?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
              />
              <img
                class="absolute bottom-0 rounded-lg right-0 w-4/5 h-3/5 md:w-2/3 md:h-2/3 object-cover"
                src="https://images.unsplash.com/photo-1516216628859-9bccecab13ca?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
              />
            </picture>

            <div class="md:flex-1 flex flex-col gap-2 lg:gap-6">
              <h3 class="text-xl lg:text-2xl font-semibold text-secundary-900">
                Trabajadores de excelencia
              </h3>
              <p
                class="text-paragraph-800 text-base lg:text-lg font-light leading-relaxed text-pretty"
              >
                En VentiFresh, nos enorgullece contar con un equipo de técnicos
                altamente calificados y comprometidos, cuya experiencia y
                valores son la base de nuestro éxito. Con más de 10 años de
                experiencia en instalación y mantenimiento de sistemas de aire
                acondicionado, nuestro equipo está dedicado a brindar un
                servicio excepcional a nuestros clientes.
              </p>
              <ul class="flex flex-col gap-2 text-base lg:text-lg">
                <li class="flex items-center gap-2">
                  <Check class="min-w-7 size-7 text-primary-800" />
                  <p class="text-paragraph-900">Experiencia Profesional</p>
                </li>
                <li class="flex items-center gap-2">
                  <Check class="min-w-7 size-7 text-primary-800" />
                  <p class="text-paragraph-900">Compromiso con la Excelencia</p>
                </li>
                <li class="flex items-center gap-2">
                  <Check class="min-w-7 size-7 text-primary-800" />
                  <p class="text-paragraph-900">Valores que nos distinguen</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="works" class="py-20 px-5">
      <header>
        <h2
          class="text-primary-800 md:text-center font-bold text-4xl md:text-5xl tracking-wide mb-3"
        >
          Trabajos
        </h2>
        <p
            class="text-paragraph-800 max-w-5xl text-center mx-auto text-base lg:text-lg font-light leading-relaxed text-pretty mb-10"
          >
          Explora nuestra galería de últimos trabajos para obtener una visión detallada de los proyectos más recientes de VentiFresh. Desde instalaciones impecables hasta mantenimientos especializados, cada imagen cuenta una historia de dedicación y excelencia en nuestro compromiso con la calidad y la satisfacción del cliente.
          </p>
      </header>
      <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 auto-rows-[200px]" id="gallery">
          <a
            href="/galeria1-2400-1800.jpg"
            data-pswp-width="2400"
            data-pswp-height="1800"
            data-cropped="true"
            target="_blank"
          >
            <img
              src="/galeria1-640-480.jpg"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
          <a
            href="/galeria2-2400-2400.jpg"
            data-pswp-width="2400"
            data-pswp-height="2400"
            data-cropped="true"
            target="_blank"
          >
            <img
              src="/galeria2-640-640.jpg"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
          <a
            href="/galeria3-2400-3602.jpg"
            data-pswp-width="2400"
            data-pswp-height="3602"
            data-cropped="true"
            target="_blank"
          >
            <img
              src="/galeria3-640-961.jpg"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
          <a
            href="/galeria4-2400-1625.jpg"
            data-pswp-width="2400"
            data-pswp-height="1625"
            data-cropped="true"
            target="_blank"
          >
            <img
              src="/galeria4-640-433.jpg"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
          <a
            href="/galeria5-2400-1600.jpg"
            data-pswp-width="2400"
            data-pswp-height="1600"
            data-cropped="true"
            target="_blank"
          >
            <img
              src="/galeria5-640-427.jpg"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
          <a
            href="/galeria6-2400-3747.jpg"
            data-pswp-width="2400"
            data-pswp-height="3747"
            data-cropped="true"
            target="_blank"
          >
            <img
              src="/galeria6-640-999.jpg"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
        </div>
      </div>
    </section>

    <section>
      <div class="container flex flex-col mx-auto bg-white">
        <div class="w-full draggable">
            <div class="container flex flex-col items-center gap-16 mx-auto my-32">
                <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
                    <div class="flex flex-col items-center gap-3 px-8 py-10 bg-white rounded-3xl shadow-main">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <path d="M31.9904 13.965L22.4166 4.40166C21.6057 3.60976 20.5294 3.16817 19.4104 3.16817C18.2914 3.16817 17.2151 3.60976 16.4041 4.40166L6.8304 13.9017C6.40502 14.283 6.0629 14.7524 5.82645 15.279C5.58999 15.8056 5.46454 16.3776 5.45831 16.9575V30.5425C5.47456 31.6946 5.93476 32.793 6.73808 33.5973C7.5414 34.4016 8.62236 34.846 9.74415 34.8333H28.9225C30.0443 34.846 31.1252 34.4016 31.9285 33.5973C32.7319 32.793 33.1921 31.6946 33.2083 30.5425V16.9575C33.2071 16.4009 33.0989 15.85 32.8899 15.3365C32.6809 14.823 32.3752 14.3569 31.9904 13.965ZM18.47 6.68166C18.7058 6.46025 19.0138 6.33747 19.3333 6.33747C19.6528 6.33747 19.9608 6.46025 20.1966 6.68166L28.5833 15.0417L20.1504 23.4017C19.9146 23.6231 19.6066 23.7459 19.2871 23.7459C18.9675 23.7459 18.6596 23.6231 18.4237 23.4017L10.0833 15.0417L18.47 6.68166ZM30.125 30.5425C30.1052 30.8533 29.9688 31.144 29.7445 31.3537C29.5203 31.5633 29.2256 31.6755 28.9225 31.6667H9.74415C9.44102 31.6755 9.14636 31.5633 8.9221 31.3537C8.69785 31.144 8.56147 30.8533 8.54165 30.5425V17.9708L14.7854 24.1458L12.2262 26.6792C11.9391 26.9758 11.7779 27.3771 11.7779 27.7954C11.7779 28.2137 11.9391 28.615 12.2262 28.9117C12.3695 29.066 12.5417 29.1891 12.7324 29.2734C12.9232 29.3578 13.1286 29.4017 13.3362 29.4025C13.7332 29.4009 14.1142 29.2421 14.4 28.9592L17.1287 26.2675C17.8065 26.6928 18.5853 26.9179 19.3796 26.9179C20.1738 26.9179 20.9527 26.6928 21.6304 26.2675L24.3591 28.9592C24.6449 29.2421 25.026 29.4009 25.4229 29.4025C25.6306 29.4017 25.8359 29.3578 26.0267 29.2734C26.2174 29.1891 26.3896 29.066 26.5329 28.9117C26.82 28.615 26.9812 28.2137 26.9812 27.7954C26.9812 27.3771 26.82 26.9758 26.5329 26.6792L23.9583 24.1458L30.125 17.9708V30.5425Z" fill="#581ff8"/>
                        </svg>
                    </span>
                    <p class="text-2xl font-extrabold text-dark-grey-900">Email</p>
                    <p class="text-base leading-7 text-dark-grey-600">Contact us at</p>
                    <a class="text-lg font-bold text-purple-blue-500" href = "mailto: hello@loopple.com">hello@loopple.com</a>
                    </div>
                    <div class="flex flex-col items-center gap-3 px-8 py-10 bg-white rounded-3xl shadow-main">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <path d="M30.4237 20.5833C30.0846 20.5833 29.73 20.4725 29.3908 20.3933C28.7045 20.2357 28.0297 20.0294 27.3712 19.7758C26.656 19.5086 25.8699 19.5225 25.164 19.8148C24.4582 20.1071 23.8826 20.6572 23.5479 21.3592L23.2087 22.0875C21.7115 21.2154 20.3283 20.1513 19.0925 18.9208C17.8944 17.6516 16.8583 16.231 16.0092 14.6933L16.7183 14.3608C17.4018 14.0171 17.9374 13.4259 18.222 12.701C18.5067 11.9761 18.5202 11.1687 18.26 10.4342C18.0151 9.7518 17.8143 9.05363 17.6587 8.34417C17.5817 7.99584 17.52 7.63167 17.4737 7.28334C17.2865 6.16807 16.7177 5.1581 15.8698 4.4353C15.0219 3.7125 13.9506 3.32439 12.8487 3.34084H8.20832C7.55657 3.33996 6.91201 3.48056 6.31687 3.75343C5.72174 4.02629 5.18948 4.42526 4.75498 4.92417C4.31148 5.43662 3.98125 6.04161 3.78698 6.69756C3.59271 7.35351 3.53901 8.04489 3.62957 8.72417C4.4676 15.3142 7.39927 21.4362 11.97 26.1408C16.5508 30.8351 22.5117 33.846 28.9283 34.7067C29.1284 34.7224 29.3294 34.7224 29.5296 34.7067C30.6664 34.7084 31.7641 34.28 32.6129 33.5033C33.0987 33.0571 33.4871 32.5105 33.7528 31.8992C34.0185 31.288 34.1554 30.626 34.1546 29.9567V25.2067C34.1463 24.1126 33.7705 23.0551 33.0907 22.2127C32.411 21.3704 31.4689 20.7948 30.4237 20.5833ZM31.1791 30.0833C31.1786 30.3043 31.1331 30.5227 31.0455 30.7245C30.9579 30.9263 30.8301 31.107 30.6704 31.255C30.5014 31.4131 30.3004 31.5306 30.0817 31.5991C29.8631 31.6676 29.6323 31.6852 29.4062 31.6508C23.6532 30.8792 18.3066 28.1865 14.19 23.9875C10.0698 19.756 7.4252 14.2458 6.66665 8.31251C6.63316 8.08028 6.65037 7.84332 6.71702 7.61877C6.78368 7.39422 6.89813 7.1877 7.05207 7.01417C7.19794 6.84816 7.3764 6.71577 7.57569 6.62571C7.77499 6.53565 7.99059 6.48997 8.20832 6.49167H12.8333C13.1897 6.48273 13.5381 6.6009 13.8192 6.82607C14.1002 7.05124 14.2967 7.3695 14.375 7.72667C14.375 8.15417 14.5137 8.59751 14.6062 9.025C14.7844 9.85446 15.0214 10.6694 15.3154 11.4633L13.1571 12.5083C12.7861 12.6832 12.4978 13.0021 12.3554 13.395C12.2012 13.7805 12.2012 14.2129 12.3554 14.5983C14.5742 19.4794 18.3945 23.4029 23.1471 25.6817C23.5224 25.84 23.9434 25.84 24.3187 25.6817C24.7013 25.5354 25.0118 25.2393 25.1821 24.8583L26.1533 22.6417C26.9487 22.9395 27.7624 23.1828 28.5891 23.37C28.99 23.465 29.4217 23.5442 29.8379 23.6075C30.1857 23.6879 30.4956 23.8897 30.7148 24.1784C30.934 24.467 31.0491 24.8248 31.0404 25.1908L31.1791 30.0833ZM22.0833 3.16667C21.7287 3.16667 21.3587 3.16667 21.0042 3.16667C20.5953 3.20237 20.217 3.40341 19.9524 3.72558C19.6879 4.04776 19.5588 4.46466 19.5935 4.88459C19.6283 5.30451 19.824 5.69306 20.1377 5.96476C20.4514 6.23645 20.8574 6.36903 21.2662 6.33334H22.0833C24.5366 6.33334 26.8893 7.33423 28.6241 9.11582C30.3588 10.8974 31.3333 13.3138 31.3333 15.8333C31.3333 16.1183 31.3333 16.3875 31.3333 16.6725C31.2991 17.0902 31.4276 17.5048 31.6906 17.8253C31.9536 18.1459 32.3296 18.3463 32.7362 18.3825H32.8596C33.2455 18.3841 33.618 18.237 33.9034 17.9702C34.1889 17.7035 34.3665 17.3364 34.4012 16.9417C34.4012 16.5775 34.4012 16.1975 34.4012 15.8333C34.4012 12.4767 33.104 9.25725 30.7943 6.88225C28.4847 4.50724 25.3516 3.17087 22.0833 3.16667ZM25.1667 15.8333C25.1667 16.2533 25.3291 16.656 25.6182 16.9529C25.9073 17.2499 26.2994 17.4167 26.7083 17.4167C27.1172 17.4167 27.5093 17.2499 27.7984 16.9529C28.0876 16.656 28.25 16.2533 28.25 15.8333C28.25 14.1536 27.6003 12.5427 26.4438 11.355C25.2873 10.1673 23.7188 9.50001 22.0833 9.50001C21.6744 9.50001 21.2823 9.66682 20.9932 9.96375C20.7041 10.2607 20.5417 10.6634 20.5417 11.0833C20.5417 11.5033 20.7041 11.906 20.9932 12.2029C21.2823 12.4999 21.6744 12.6667 22.0833 12.6667C22.9011 12.6667 23.6853 13.0003 24.2636 13.5942C24.8418 14.188 25.1667 14.9935 25.1667 15.8333Z" fill="#581ff8"/>
                        </svg>
                    </span>
                    <p class="text-2xl font-extrabold text-dark-grey-900">Phone</p>
                    <p class="text-base leading-7 text-dark-grey-600">Reach out to us by phone</p>
                    <a class="text-lg font-bold text-purple-blue-500" href="tel:+516-486-5135">+516-486-5135</a>
                    </div>
                    <div class="flex flex-col items-center gap-3 px-8 py-10 bg-white rounded-3xl shadow-main">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <path d="M31.7091 15.2475C31.4927 12.9341 30.6966 10.7177 29.3984 8.81412C28.1003 6.91054 26.3443 5.38464 24.3014 4.38503C22.2585 3.38541 19.9984 2.94614 17.7412 3.10998C15.4839 3.27383 13.3065 4.03522 11.4208 5.32C9.8008 6.43252 8.44083 7.89972 7.43858 9.6162C6.43633 11.3327 5.81667 13.2558 5.62413 15.2475C5.43524 17.2261 5.67758 19.2231 6.33355 21.0936C6.98953 22.9641 8.04269 24.6611 9.41663 26.0617L17.5875 34.4692C17.7308 34.6176 17.9013 34.7354 18.0892 34.8157C18.277 34.8961 18.4785 34.9375 18.682 34.9375C18.8856 34.9375 19.0871 34.8961 19.2749 34.8157C19.4628 34.7354 19.6333 34.6176 19.7766 34.4692L27.9166 26.0617C29.2906 24.6611 30.3437 22.9641 30.9997 21.0936C31.6557 19.2231 31.898 17.2261 31.7091 15.2475ZM25.7583 23.8292L18.6666 31.1125L11.575 23.8292C10.5298 22.7557 9.72928 21.4578 9.23081 20.0288C8.73233 18.5997 8.54834 17.075 8.69204 15.5642C8.83668 14.0301 9.31143 12.5482 10.082 11.2256C10.8525 9.90299 11.8996 8.77278 13.1475 7.91666C14.7831 6.80079 16.703 6.20555 18.6666 6.20555C20.6302 6.20555 22.5502 6.80079 24.1858 7.91666C25.4299 8.76947 26.4747 9.89469 27.245 11.2115C28.0154 12.5283 28.4922 14.0039 28.6412 15.5325C28.7896 17.0484 28.6079 18.5793 28.1093 20.0142C27.6107 21.4491 26.8076 22.7522 25.7583 23.8292ZM18.6666 9.5C17.2945 9.5 15.9532 9.91787 14.8124 10.7008C13.6715 11.4837 12.7823 12.5965 12.2572 13.8984C11.7321 15.2003 11.5947 16.6329 11.8624 18.015C12.1301 19.3971 12.7908 20.6667 13.7611 21.6631C14.7313 22.6596 15.9674 23.3382 17.3132 23.6131C18.6589 23.888 20.0538 23.7469 21.3215 23.2076C22.5892 22.6684 23.6726 21.7551 24.4349 20.5834C25.1972 19.4117 25.6041 18.0342 25.6041 16.625C25.6001 14.7366 24.8678 12.9268 23.5677 11.5915C22.2675 10.2562 20.5053 9.50418 18.6666 9.5ZM18.6666 20.5833C17.9043 20.5833 17.1592 20.3512 16.5254 19.9162C15.8916 19.4813 15.3976 18.8631 15.1058 18.1398C14.8141 17.4165 14.7378 16.6206 14.8865 15.8528C15.0352 15.0849 15.4023 14.3796 15.9413 13.826C16.4803 13.2724 17.1671 12.8955 17.9147 12.7427C18.6623 12.59 19.4373 12.6684 20.1416 12.968C20.8458 13.2676 21.4477 13.7749 21.8712 14.4259C22.2947 15.0768 22.5208 15.8421 22.5208 16.625C22.5208 17.6748 22.1147 18.6816 21.3919 19.424C20.6691 20.1663 19.6888 20.5833 18.6666 20.5833Z" fill="#581ff8"/>
                        </svg>
                    </span>
                    <p class="text-2xl font-extrabold text-dark-grey-900">Location</p>
                    <p class="text-base leading-7 text-dark-grey-600">Find us at our office</p>
                    <a class="text-lg font-bold text-purple-blue-500" target="_blank" href="https://goo.gl/maps/QcWzYETAh4FS3KTD7">10924 Urna Convallis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 my-5">
        <div class="w-full max-w-full sm:w-3/4 mx-auto text-center">
            <p class="text-sm text-slate-500 py-1">
                Tailwind CSS Component from <a href="https://www.loopple.com/theme/motion-landing-library?ref=tailwindcomponents" class="text-slate-700 hover:text-slate-900" target="_blank">Motion Landing Library</a> by <a href="https://www.loopple.com" class="text-slate-700 hover:text-slate-900" target="_blank">Loopple Builder</a>.
            </p>
        </div>
    </div>
    </section>
  </main>
</Layout>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
