---
import Layout from "../layouts/Layout.astro";

import Home from "../icons/Home.astro";
import About from "../icons/About.astro";
import Services from "../icons/Services.astro";
import Works from "../icons/Works.astro";
import Contact from "../icons/Contact.astro";
import Menu from "../icons/Menu.astro";
import Mision from "../icons/Mision.astro";
import Vision from "../icons/Vision.astro";
import Valores from "../icons/Valores.astro";
import Check from "../icons/Check.astro";
import Service from "../icons/Service.astro";
---

<Layout title="VentiFresh F&R">
	<nav class="w-full h-20 bg-transparent fixed top-0 z-10 px-20 py-5">
		<div class="w-full h-full flex items-center justify-between text-white">
			<h1>VentiFresh F&R</h1>

			<ul class="hidden">
				<li>
					<Home />
					<a href="#home">Inicio</a>
				</li>
				<li>
					<About />
					<a href="#about">Nosotros</a>
				</li>
				<li>
					<Services />
					<a href="#services">Servicios</a>
				</li>
				<li>
					<Works />
					<a href="#works">Trabajos</a>
				</li>
				<li>
					<Contact />
					<a href="#contact">Contacto</a>
				</li>
			</ul>

			<figure>
				<Menu />
			</figure>
		</div>
	</nav>

	<header class="w-full h-[90dvh] bg-white">
		<div class="w-full h-full relative">
			<img
				class="w-full h-full object-cover"
				src="https://images.unsplash.com/photo-1545649311-24d0ac00ae82?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt="Imagen de Ventifresh F&R"
			/>

			<div class="absolute top-0 left-0 inset-0 bg-black/50 text-white">
				<div class="w-full h-full flex flex-col items-center justify-center">
					<h2>Soluciones efectivas</h2>
					<span>Confia en VentiFresh</span>
				</div>
			</div>
		</div>
	</header>

	<main class="bg-white">
		<section id="about" class="py-20 px-5">
			<div class="max-w-7xl mx-auto">
				<header>
					<p class="text-paragraph-600 md:text-center text-base font-medium">
						Información
					</p>
					<h2 class="text-primary-800 md:text-center font-bold text-3xl md:text-4xl tracking-wide mb-3 md:mb-10">
						Sobre nosotros
					</h2>
				</header>
	
				<div class="flex flex-col md:flex-row gap-5 lg:gap-10">
					<picture class="md:flex-1">
						<img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1482286571573-959937392112?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
					</picture>
	
					<div class="md:flex-1 flex flex-col gap-2 lg:gap-6">
						<h3 class="p-2 text-xl lg:text-2xl font-semibold text-secundary-900 border-l-4 border-secundary-800">
							Lorem, ipsum dolor flous.
						</h3>
						<p class="text-paragraph-800 text-base lg:text-lg font-light leading-relaxed text-pretty">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, magni laudantium. Animi totam voluptatem ab quod molestiae veniam asperiores, nulla aut perspiciatis, maiores ipsum ullam vitae amet. Pariatur voluptas libero, eveniet, minus necessitatibus qui voluptate accusamus consequuntur iure vitae accusantium dolorum mollitia omnis rem quidem aliquid placeat. Accusamus, ad quod?
						</p>
						<ul class="flex flex-col gap-2 text-base lg:text-lg">
							<li class="flex gap-2">
								<Check class="min-w-7"/>
								<p>Lorem ipsum dolor sit amet consectetur.</p>
							</li>
							<li class="flex gap-2">
								<Check class="min-w-7"/>
								<p>Lorem ipsum dolor sit amet.</p>
							</li>
							<li class="flex gap-2">
								<Check class="min-w-7"/>
								<p>Lorem ipsum sit amet consectetur.</p>
							</li>
						</ul>
					</div>
				</div>

				<div class="pt-20">
					<div class="max-w-7xl mx-auto">
						<div class="grid grid-cols-1 md:grid-cols-3 gap-5">
							<article class="relative bg-paragraph-50/50 rounded-lg shadow p-4 flex flex-col gap-2 items-center">
								<Mision class="bg-primary-500 text-white p-1 size-9 rounded-full"/>
								<h3 class="font-medium tracking-wide">Mision</h3>
								<p class="text-center text-paragraph-800 leading-relaxed">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore, illo quisquam. Deserunt nulla sit rem vel possimus numquam, voluptates obcaecati.</p>
							</article>
							<article class="relative md:-top-10 bg-paragraph-50/50 rounded-lg shadow p-4 flex flex-col gap-2 items-center">
								<Valores class="bg-primary-500 text-white p-1 size-9 rounded-full"/>
								<h3 class="font-medium tracking-wide">Valores</h3>
								<p class="text-center text-paragraph-800 leading-relaxed">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore, illo quisquam. Deserunt nulla sit rem vel possimus numquam, voluptates obcaecati.</p>
							</article>
							<article class="relative bg-paragraph-50/50 rounded-lg shadow p-4 flex flex-col gap-2 items-center">
								<Vision class="bg-primary-500 text-white p-1 size-9 rounded-full"/>
								<h3 class="font-medium tracking-wide">Vision</h3>
								<p class="text-center text-paragraph-800 leading-relaxed">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore, illo quisquam. Deserunt nulla sit rem vel possimus numquam, voluptates obcaecati.</p>
							</article>
							
						</div>
					</div>
				</div>
			</div>
			
		</section>

		

		<section id="services" class="py-20 px-5 bg-paragraph-50">
			<div class="max-w-7xl mx-auto">
				<header>
					<p class="text-paragraph-600 md:text-center text-base font-medium">
						Que hacemos
					</p>
					<h2 class="text-primary-800 md:text-center font-bold text-3xl md:text-4xl tracking-wide mb-3 md:mb-10">
						Nuestros Servicios
					</h2>
				</header>

				<div class="grid grid-cols-1 auto-rows-[150px] sm:grid-cols-2 md:grid-cols-4 gap-5 place-content-center">
					<article class="flex flex-col items-center justify-center p-5 gap-2 bg-primary-600 text-white relative top-0 hover:-top-2 transition-all duration-300">
						<Service class="size-10"/>
						<p class="text-center font-medium">Lorem ipsum dolor sit amet consectetur.</p>
					</article>
					<article class="flex flex-col items-center justify-center p-5 gap-2 bg-primary-600 text-white relative top-0 hover:-top-2 transition-all duration-300">
						<Service class="size-10"/>
						<p class="text-center font-medium">Lorem ipsum dolor sit amet consectetur.</p>
					</article>
					<article class="flex flex-col items-center justify-center p-5 gap-2 bg-primary-600 text-white relative top-0 hover:-top-2 transition-all duration-300">
						<Service class="size-10"/>
						<p class="text-center font-medium">Lorem ipsum dolor sit amet consectetur.</p>
					</article>
					<article class="flex flex-col items-center justify-center p-5 gap-2 bg-primary-600 text-white relative top-0 hover:-top-2 transition-all duration-300">
						<Service class="size-10"/>
						<p class="text-center font-medium">Lorem ipsum dolor sit amet consectetur.</p>
					</article>
					<article class="md:col-start-2 flex flex-col items-center justify-center p-5 gap-2 bg-primary-600 text-white relative top-0 hover:-top-2 transition-all duration-300">
						<Service class="size-10"/>
						<p class="text-center font-medium">Lorem ipsum dolor sit amet consectetur.</p>
					</article>
					<article class="flex flex-col items-center justify-center p-5 gap-2 bg-primary-600 text-white relative top-0 hover:-top-2 transition-all duration-300">
						<Service class="size-10"/>
						<p class="text-center font-medium">Lorem ipsum dolor sit amet consectetur.</p>
					</article>
					
					
				</div>
			</div>

		</section>
	</main>
</Layout>
