---
import Phone from "../../icons/Phone.astro";
import Mail from "../../icons/Mail.astro";
import Card from "../contact/Card.astro"
---
<section id="contact" class="max-w-7xl w-full mx-auto flex flex-col gap-10 px-5">
  <header class="max-w-xl mx-auto lg:max-w-none lg:mx-0">
    <h2 class="text-primary-600 font-bold text-2xl lg:text-5xl lg:text-center">
      Contacto
    </h2>
    <p class="text-paragraph-800 text-base leading-relaxed lg:text-center max-w-4xl mx-auto">
      Puedes comunicarte con nosotros por los siguientes canales disponibles.
    </p>
  </header>
  <section class="max-w-xl mx-auto lg:max-w-none lg:mx-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
    <a target="_blank" class="bg-primary-500/15 rounded-lg p-5 hover:bg-primary-500/25 transition-colors" href="https://api.whatsapp.com/send?phone=51930520548">
      <Card title="Telefono" subtitle="Ruben Romero Avendaño" data="+51 930 520 548">
        <Phone class="bg-white text-primary-500 size-10 rounded-lg p-1"/>
      </Card>
    </a>
    <a target="_blank" class="bg-primary-500/15 rounded-lg p-5 hover:bg-primary-500/25 transition-colors" href="mailto:contacto@ventifreshfr.com">
      <Card title="Correo" subtitle="Correo para cotizar" data="contacto@ventifreshfr.com">
        <Mail class="bg-white text-primary-500 size-10 rounded-lg p-1"/>
      </Card>
    </a>
    <a target="_blank" class="bg-primary-500/15 rounded-lg p-5 hover:bg-primary-500/25 transition-colors" href="https://api.whatsapp.com/send?phone=51930520548">
      <Card title="Telefono" subtitle="Ruben Romero Avendaño" data="+51 930 520 548">
        <Phone class="bg-white text-primary-500 size-10 rounded-lg p-1"/>
      </Card>
    </a>
  </section>
</section>