<footer class="bg-primary-500/15 text-white">
  <div class="max-w-7xl mx-auto p-5 flex items-center justify-between">
    <img src="/logo.png" class="h-20" alt="">
    <ul class="flex text-paragraph-800 gap-5">
      <li>
        <a href="#about">Nosotros</a>
      </li>
      <li>
        <a href="#services">Servicios</a>
      </li>
      <li>
        <a href="#works">Trabajos</a>
      </li>
      <li>
        <a href="#contact">Contacto</a>
      </li>
    </ul>
  </div>
</footer>