<footer class="bg-primary-500/15 text-white">
  <div class="max-w-7xl mx-auto p-5 flex items-center justify-between">
    <img src="/logo.png" class="h-20" alt="">
    <ul class="flex-1 flex flex-wrap justify-end gap-5 text-paragraph-800">
      <li>
        <a href="#about" class="hover:underline">Nosotros</a>
      </li>
      <li>
        <a href="#services" class="hover:underline">Servicios</a>
      </li>
      <li>
        <a href="#works" class="hover:underline">Trabajos</a>
      </li>
      <li>
        <a href="#contact" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>